.noj-frame#frameClarification {
    padding: 0;
}

.noj-frame#frameClarification paper-card {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
    border-radius: 4px;
    transition: .2s ease-out .0s;
    color: #7a8e97;
    background: #fff;
    padding: 1rem;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
}

.noj-frame#frameClarification paper-card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
}

.noj-frame#frameClarification a:hover{
    text-decoration: none!important;
}

.noj-frame#frameClarification nav-div{
    display: block;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.noj-frame#frameClarification nav-item{
    display: inline-block;
    color: rgba(0, 0, 0, 0.42);
    padding: 0.25rem 0.75rem;
    font-size: 0.85rem;
}

.noj-frame#frameClarification nav-item.active{
    color: rgba(0, 0, 0, 0.93);
    color: #03a9f4;
    border-bottom: 2px solid #03a9f4;
    margin-bottom: -2px;
}

.noj-frame#frameClarification h5{
    margin-bottom: 1rem;
    font-weight: bold;
}

.noj-frame#frameClarification .noj-msg-list{
    width: 25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 30px;
    height: 100%;
    z-index: 2;
    flex-shrink: 0;
    flex-grow: 0;
    transition: .2s ease-out .0s;
    overflow-x: hidden;
    overflow-y: auto;
}

.noj-frame#frameClarification .noj-msg-content{
    flex-shrink: 1;
    flex-grow: 1;
    z-index: 1;
    padding: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* .noj-frame#frameClarification .noj-msg-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.noj-frame#frameClarification .noj-msg-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} */

.noj-frame#frameClarification message-card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    transition: .2s ease-out .0s;
    cursor: pointer;
}

.noj-frame#frameClarification message-card > div:first-of-type{
    padding-right: 0.75rem;
}

.noj-frame#frameClarification message-card > div:last-of-type p{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.93);
    margin-bottom: 0;
}

.noj-frame#frameClarification fresh-container {
    display: block;
    /* all: initial; */
    font-family: 'Roboto Slab';
}

.noj-frame#frameClarification fresh-container h1,
.noj-frame#frameClarification fresh-container h2,
.noj-frame#frameClarification fresh-container h3,
.noj-frame#frameClarification fresh-container h4,
.noj-frame#frameClarification fresh-container h5,
.noj-frame#frameClarification fresh-container h6 {
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 16px;
    color: #000;
}

.noj-frame#frameClarification fresh-container h1 {
    font-size: 2.25rem;
    font-weight: 600;
    padding-bottom: .3em
}

.noj-frame#frameClarification fresh-container h2 {
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: .3em
}

.noj-frame#frameClarification fresh-container h3 {
    font-size: 1.5rem;
    font-weight: 600
}

.noj-frame#frameClarification fresh-container h4 {
    font-size: 1.25rem;
    font-weight: 600
}

.noj-frame#frameClarification fresh-container h5 {
    font-size: 1rem;
    font-weight: 600
}

.noj-frame#frameClarification fresh-container h6 {
    font-size: 1rem;
    font-weight: 600
}

.noj-frame#frameClarification fresh-container p {
    line-height: 1.6;
    color: #333;
}

.noj-frame#frameClarification fresh-container>:first-child {
    margin-top: 0;
}

.noj-frame#frameClarification fresh-container>:last-child {
    margin-bottom: 0;
}

.noj-frame#frameClarification fresh-container pre {
    background-color: rgb(245, 245, 245);
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    display: block;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: .85rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.4;
    tab-size: 8;
    hyphens: none;
    margin-bottom: 1rem;
    padding: .8rem;
    overflow: auto;
}

.noj-frame#frameClarification fresh-container li{
    margin-bottom: 1rem;
}

.noj-frame#frameClarification .noj-clarification-layout{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    transition: .2s ease-out .0s;
    opacity: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: #fff;
}

.noj-frame#frameClarification .noj-clarification-layout > div:last-of-type{
    background: #fff;
}
.noj-frame#frameClarification .noj-clarification-layout > div:first-of-type{
    background-image: linear-gradient(to top, rgba(196, 197, 199, 0.5) 0%, rgba(220, 221, 223, 0.5) 52%, rgba(235, 235, 235, 0.5) 100%);
}

.noj-frame#frameClarification .noj-alert-container{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

#contestClarificationRequestBtn > i{
    display: inline-block;
}