body {
    tab-size: 4;
    transition: .2s ease-out .0s;
    overflow: hidden;
}

*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.custom-file-control:disabled, .custom-file-control[readonly], .form-control:disabled, .form-control[readonly] {
    background-color: transparent!important;
}

.snackbar.snackbar-opened {
    max-height: initial;
    display: block;
}

.snackbar-content {
    display: inline;
    padding: 0;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border-radius: 0;
}

.MDI.cm-remove:before {
    content: "\e795";
}

.MDI.cm-alert:before {
    content: "\e62b";
}

#snackbar-container {
    right: 1rem;
    left: 1rem;
    bottom: 50px;
    width: auto;
}

.cm-refreshing {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: cm-rotate 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    -moz-animation: cm-rotate 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    -o-animation: cm-rotate 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    animation: cm-rotate 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@-webkit-keyframes cm-rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes cm-rotate {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(359deg)
    }
}

@-o-keyframes cm-rotate {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(359deg)
    }
}

@keyframes cm-rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

.noj-avatar {
    border-radius: 2000px;
}

.noj-alert-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
    background: #fafafa;
}

.noj-alert {
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
    width: 100%;
}

.noj-alert i {
    font-size: 5rem;
}

.btn-rounded {
    border-radius: 200rem;
}

.mundb-text-truncate-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.mundb-text-truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* Image Override */

fresh-container img {
    max-width: 100%;
}

/* Reply-Quote */

fresh-container reply-quote {
    border-left: .25em solid #dfe2e5;
    display: block;
    margin: 20px 0!important;
    background-color: #f5f8fc;
    padding: 1rem;
    color: #8796a8;
}

fresh-container reply-quote p {
    color: #8796a8;
}

fresh-container reply-quote p:last-child {
    margin-bottom: 0;
}

/* NOJ Loading */

.noj-loading{
    position: absolute;
    z-index: 999;
    background: #fafafa;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: .2s ease-out .0s;
}

.noj-hidden{
    opacity: 0!important;
    pointer-events: none!important;
}

.noj-loading-spinner {
    stroke: var(--wemd-light-blue);
    -webkit-animation: noj-loading-rotation 1.35s linear infinite;
    animation: noj-loading-rotation 1.35s linear infinite;
}

@-webkit-keyframes noj-loading-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes noj-loading-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.noj-loading-circle {
    stroke-dasharray: 180;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: noj-loading-turn 1.35s ease-in-out infinite;
    animation: noj-loading-turn 1.35s ease-in-out infinite;
}

@-webkit-keyframes noj-loading-turn {
    0% {
        stroke-dashoffset: 180;
    }
    50% {
        stroke-dashoffset: 45;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 180;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes noj-loading-turn {
    0% {
        stroke-dashoffset: 180;
    }
    50% {
        stroke-dashoffset: 45;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 180;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

.noj-refreshing-button{
    position: fixed;
    bottom: 5rem;
    right:2.25rem;
    z-index:899;
    transition: .2s ease-out .0s;
}

.noj-refreshing-button i{
    display: inline-block;
}

.noj-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.noj-pagination .btn-noj-pagination{
    padding: .5rem .75rem;
    margin: 0 0.5rem;
    line-height: 1.25;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2000px;
    box-shadow: none!important;
}

.noj-pagination .btn-noj-pagination[disabled]{
    cursor: auto;
    pointer-events: none;
}

#snackbar-container{
    pointer-events: none;
}

#snackbar-container > div {
    pointer-events: auto;
}

/* Model */

.sm-modal{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
    border-radius: 4px;
    transition: .2s ease-out .0s;
    color: #7a8e97;
    background: #fff;
    padding: 1rem;
    position: relative;
    /* border: 1px solid rgba(0, 0, 0, 0.15); */
    margin-bottom: 2rem;
    width:auto;
}
.sm-modal:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
}
.modal-title{
    font-weight: bold;
    font-family: roboto;
}
.sm-modal td{
    white-space: nowrap;
}

.modal-dialog {
    max-width: 85vw;
    justify-content: center;
}

.modal-dialog-alert {
    width: 40vw;
}

.modal-dialog-alert .modal-content{
    min-width: 30vw;
}

.modal-dialog-alert .modal-body{
    word-break: break-word;
}