/* body{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: relative;
} */
body,html{
    background: transparent!important;
}
img.noj-header-icon{
    width: 15rem;
    padding-bottom: 1rem;
}
button.noj-login-btn{
    width: 100%;
    border-radius: 100px;
    transition: .2s ease-out .0s;
    height: 2.5rem;
    will-change: transform, opacity;
}
.noj-form-group-with-icon{
    display: flex;
}
.noj-form-group-with-icon > i{
    padding-top: 2.1875rem;
    font-size: 1rem;
    padding-right: 1rem;
    transform: scale(1.2);
    color: rgba(0,0,0,.4);
    flex-shrink: 0;
    flex-grow: 0;
}
.noj-form-group-with-icon > div{
    flex-shrink: 1;
    flex-grow: 1;
}
.noj-login-div{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-radius: 8px;
    background: white;
    padding: 4rem 2rem;
    position: relative;
    width: 19rem;
    height: 35rem;
    margin: 1rem;
    -webkit-app-region: drag;
}
button {
    -webkit-app-region: no-drag;
}
.noj-footer-copyright{
    margin: 0;
    position: absolute;
    bottom: 0;
    font-size: 0.65rem;
    text-align: center;
    left: 0;
    right: 0;
    padding: 1rem 0.5rem;
    color: rgba(0,0,0,0.54);
}
button.noj-login-btn:disabled{
    cursor: default;
}
button.noj-login-btn > i{
    display: inline-block;
}
button.noj-login-btn.noj-login-btn-processing{
    width: 3rem;
    height: 3rem;
    box-shadow: none;
    cursor: default;
    opacity: .65;
}
button.noj-login-btn.noj-login-btn-processing:focus{
    box-shadow: none;
}
button.noj-login-btn.noj-login-btn-processing:hover{
    box-shadow: none;
}
i.noj-close-button{
    display:inline-block;
    position: absolute;
    top:1.3rem;
    right:1.3rem;
    font-size: 1.3rem;
    line-height: 1;
    cursor: pointer;
    transition: .2s ease-out .0s;
    color: rgba(0,0,0,0.54);
}
i.noj-close-button:hover{
    transform: scale(1.2);
    color: rgba(0,0,0,0.93);
}

#snackbar-container {
    right: 0;
    left: 0;
    bottom: 5px;
    width: 100%;
}